.chef-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  @media screen and (min-width: $bp-desktop) {
    gap: 30px;
  }
  &__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
  }
  &__image {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -10px 10px 0 0 var(--color-primary-light),
      -10px 10px 0 2px #a18268;
    width: 140px;
    @media screen and (min-width: $bp-desktop) {
      width: 240px;
      box-shadow: -16px 16px 0 0 var(--color-primary-light),
        -16px 16px 0 2px #a18268;
    }
  }
  &__text p {
    margin-bottom: 24px;
    font-size: 14px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }
  }

  &__text p:last-child {
    margin-bottom: 0;
  }
}
